/*Para mudar a cor do placeholder*/
::-webkit-input-placeholder  { color: #fff; opacity: 0.7;; }
input:-moz-placeholder { color:#fff; opacity: 0.7;}
textarea:-moz-placeholder { color:#4fff; opacity: 0.7; }

/*Para tornar o placeholder transparente ao clicar no input*/
input:focus::-webkit-input-placeholder {
    color: transparent;
 }
 input:focus:-moz-placeholder { /* Firefox 18- */
    color: transparent;  
 }
 input:focus::-moz-placeholder {  /* Firefox 19+ */
    color: transparent;  
 }
 input:focus:-ms-input-placeholder {  
    color: transparent;  
 }

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh 20vw;
    padding: 5vh 0;
    border: solid rgb(15, 15, 126);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-color: rgb(15, 15, 126);
}

.app .title {
    color: white;
    padding-bottom: 8vh;
}
.app form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app .input-form {
    text-align: center;
}

.app form input {
    color: white;
    font-weight: 700;
    text-align: center;
    margin: 1vh 1vw;
    padding: 3vh 1.5vw;
    border-radius: 5px;
    background-color: rgb(61, 61, 235);
}

.app form button{
    width: 60px;
    height: 40px;
    margin-top: 5vh;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    justify-content: flex-end;
    border: none;
    border-radius: 5px 15px;
    background-color: rgb(61, 61, 235);
    transition: 0.5s;
}

.app button:hover{
    cursor: pointer;
    background-color: rgb(48, 48, 143);
}

